body {
    font-family: Arial;
    text-align: center;
    padding: 20px;
    background: #f4f4f4;
}

h1 {
    font-size: 32px;
    margin-bottom: 20px;
}

.painel-senha {
    font-size: 80px;
    font-weight: bold;
    color: #d90000;
}

.painel-guincho {
    font-size: 40px;
    margin-top: 10px;
}
